# Исключение виртуального окружения
venv/

# Исключение файлов настроек IDE (для PyCharm)
.idea/

# Исключение файлов настроек (если используется другой редактор или IDE)
*.pyc
*.pyo
*.pyd
__pycache__/

# Исключение файлов базы данных (если используется SQLite)
db.sqlite3

# Исключение файлов настроек Django
*.env

# Исключение файлов миграции базы данных
/migrations/

# Исключение сгенерированных статических файлов
/staticfiles/

# Исключение сгенерированных медиафайлов
/media/

# Исключение локальных настроек (если используются)
*.local.yml
*.local.yaml
*.local.json
*.local.ini
*.local.cfg
*.local.env