{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h1>{{ product.name_product }}</h1>
            <p class="lead">{{ product.description }}</p>

            {% if product.image %}
                <img src="{{ product.image.url }}" alt="{{ product.name_product }}" class="img-fluid">
            {% else %}
                <p>No image available</p>
            {% endif %}
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Product Details
                </div>
                <div class="card-body">
                    <p class="card-text">Category: {{ product.category }}</p>
                    <p class="card-text">Purchase Price: ${{ product.purchase_price }}</p>
                    <p class="card-text">Date Created: {{ product.date_creation }}</p>
                    <p class="card-text">Date Modified: {{ product.date_modified }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}